.image_container{
  height: fit-content;
  width: auto;
}

.image{
  height: 600px;
  width: auto;
}

.container{
 display: flex;
 flex-direction: column;
 padding: 10px;
}

.title{
  text-align: left;
}

.paragraph{
  text-align: justify;
  width: 500px;
}