*{
  background-color: #22203d;
}


.image_container{
  height: fit-content;
  width: auto;
}

.image{
  height: 600px;
  width: auto;
}

.container{
 display: flex;
 flex-direction: column;
 padding: 10px;
 align-items: center;
}

.title{
  text-align: center;
  color: aliceblue;
  /* padding-left: 50px; */
}

.paragraph{
  text-align: justify;
  width: 600px;
  color: aliceblue;
}

.main_title{
  text-align: center;
  color: aliceblue;
}

.sub_title{
  text-align: center;
  color: #656d6e;
}